@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cadastro de novo produto</h1>

<form method="post" action="\produto\gravar">


    <label for="descricao">Descrição</label>
    <input type="text" name="produto.Descricao" id="descricao" />
    <br />
    <label for="quantidadeestoque">Quantidade Estoque</label>
    <input type="text" name="produto.QuantidadeEstoque" id="quantidadeestoque" />
     <br />
    <label for="preco">Preço</label>
    <input type="text" name="produto.Preco" id="preco" />
     <br />
    <label for="unidademedida">Unidade Medida</label>
    <input type="text" name="produto.UnidadeMedida" id="unidademedida" />
     <br />
    <label for="categoriaid">Categoria</label>
    <select id="categoriaid" name="produto.CategoriaId">
        @{
            foreach (var categoria in ViewBag.categorias)
            {
                <option value="@categoria.Id">@categoria.Descricao</option>
            }
        }
    </select>
    <br />
    <input type="submit" value="Gravar Produto" />
</form>
